# ***Advent of Code 2024 - Day 01***

## ***Day 1A***

### Step 1 - Input data

In [40]:
# Input the dataset from a text file
import pandas as pd
import numpy as np

df = pd.read_csv('input.txt', delimiter='\t', header=None)
df.head()

               0
0  76569   66648
1  38663   66530
2  60350   60777
3  35330   13469
4  88681   66648

***Observation***

Each row is list of string with 02 numbers, separated by 02 blank spaces. I'd need to come up with a function which:
- input: string
- split into 02 values, then each values are converted to integer
- return a list with 02 values

### Step 2 - Split data

In [41]:
# split and convert function
def split_convert(x):
    return [int(i) for i in x.split('  ')]

In [ ]:
# Apply split_convert function on the df.
df[['col1', 'col2']] = df[0].apply(split_convert).tolist()
df.head()

               0   col1   col2
0  76569   66648  76569  66648
1  38663   66530  38663  66530
2  60350   60777  60350  60777
3  35330   13469  35330  13469
4  88681   66648  88681  66648

In [44]:
# Arrange new col1 & col2 in descending order
df['col1'] = df['col1'].sort_values().values
df['col2'] = df['col2'].sort_values().values
df.head()

               0   col1   col2
0  76569   66648  10053  10004
1  38663   66530  10073  10076
2  60350   60777  10269  10099
3  35330   13469  10341  10197
4  88681   66648  10463  10480

In [45]:
# New column with total distance with abs between col1 & col2
df['distance'] = abs(df['col1'] - df['col2'])
df.head()

               0   col1   col2  distance
0  76569   66648  10053  10004        49
1  38663   66530  10073  10076         3
2  60350   60777  10269  10099       170
3  35330   13469  10341  10197       144
4  88681   66648  10463  10480        17

In [ ]:
#Total distancce
df['distance'].sum()

3246517

## ***Day 1B***

### Step 1 - Input data

In [47]:
df2 = pd.read_csv('input.txt', header=None, delimiter='\t')
df2.head()

               0
0  76569   66648
1  38663   66530
2  60350   60777
3  35330   13469
4  88681   66648

***Observation***:
> This time, you'll need to figure out exactly how often each number from the left list appears in the right list

This sounds very much like a map task (dict in Python). You can go brute force through each item in left hand side but it's super slow. 
A more efficient approach would be: 
- Create a counting dict from right hand list, 
- the use it to count how many times each item on left hand list appeared on right hand list

In [48]:
# Apply split_convert function on the df.
df2[['col1', 'col2']] = df2[0].apply(split_convert).tolist()
df2.head()

               0   col1   col2
0  76569   66648  76569  66648
1  38663   66530  38663  66530
2  60350   60777  60350  60777
3  35330   13469  35330  13469
4  88681   66648  88681  66648

In [51]:
unique_values_col1 = set(df2['col1'])
unique_values_col1

{24576,
 57349,
 49159,
 16391,
 73737,
 53260,
 75791,
 67600,
 94225,
 20498,
 43026,
 45075,
 94223,
 51222,
 98326,
 86041,
 12314,
 20507,
 32794,
 43037,
 75803,
 10269,
 61475,
 51238,
 86055,
 59431,
 55335,
 59434,
 61483,
 63535,
 41008,
 63537,
 59442,
 73779,
 57396,
 71736,
 86080,
 90177,
 75842,
 67653,
 28744,
 59467,
 41035,
 36941,
 88144,
 77904,
 28755,
 18516,
 63575,
 45144,
 67674,
 36955,
 22622,
 32863,
 61539,
 16483,
 10341,
 55399,
 34920,
 14441,
 53351,
 16487,
 24684,
 82029,
 47213,
 82030,
 65644,
 26741,
 45174,
 96383,
 27705,
 94339,
 39046,
 30857,
 94345,
 61579,
 57495,
 82072,
 37019,
 32926,
 55455,
 94368,
 34977,
 61602,
 45219,
 75941,
 45223,
 39081,
 43179,
 86197,
 12474,
 47296,
 67778,
 59588,
 12487,
 78026,
 75979,
 59594,
 84175,
 37077,
 24790,
 49368,
 16602,
 78044,
 92382,
 10463,
 32994,
 90339,
 10468,
 76009,
 57577,
 30957,
 14573,
 59629,
 26868,
 33020,
 14589,
 16638,
 26879,
 84224,
 71937,
 84226,
 47358,
 43262,
 78085,
 98566,
 92418,
 86271,
 57609,
 67858,
 63763,
 51474,
 35093,
 30998,
 24855,
 86295,
 82201,
 26903,
 30997,
 35094,
 33053,
 28959,
 47393,
 96530,
 37156,
 24869,
 67878,
 41261,
 49454,
 82224,
 51505,
 76082,
 28979,
 94512,
 69937,
 67895,
 67896,
 82233,
 45373,
 35134,
 20799,
 24895,
 41281,
 31042,
 78149,
 33095,
 20808,
 67912,
 78154,
 53581,
 94542,
 12623,
 29009,
 92497,
 82257,
 31064,
 41304,
 49496,
 43355,
 94557,
 35166,
 26977,
 14689,
 88419,
 59745,
 47458,
 86375,
 84332,
 63855,
 16755,
 92532,
 51573,
 18805,
 33148,
 45439,
 88447,
 65922,
 51586,
 35898,
 35206,
 18822,
 49546,
 94603,
 96652,
 82320,
 80274,
 72084,
 90518,
 31130,
 37274,
 33180,
 63901,
 41374,
 84383,
 88478,
 55713,
 96669,
 53667,
 33188,
 49573,
 68006,
 76196,
 20896,
 31147,
 76205,
 61870,
 43443,
 12726,
 61884,
 88508,
 94655,
 70080,
 47552,
 43458,
 59843,
 72132,
 69290,
 53706,
 68043,
 94668,
 92621,
 25037,
 10700,
 51665,
 66005,
 94682,
 51674,
 80346,
 43484,
 29146,
 98791,
 39401,
 12780,
 20972,
 33262,
 63980,
 59888,
 82416,
 31219,
 88565,
 29177,
 41213,
 39423,
 35330,
 84485,
 25094,
 57863,
 59914,
 80395,
 39435,
 92685,
 27148,
 14867,
 66069,
 31257,
 88603,
 92701,
 70173,
 61987,
 14884,
 74276,
 70182,
 23079,
 23080,
 51749,
 25130,
 49713,
 84530,
 18997,
 88631,
 88632,
 33338,
 96832,
 39491,
 64070,
 47691,
 51791,
 19026,
 23126,
 19032,
 41560,
 72283,
 96860,
 80476,
 51810,
 74339,
 96867,
 84581,
 84583,
 53863,
 88681,
 70248,
 68202,
 66152,
 10862,
 35440,
 53875,
 33397,
 45686,
 92791,
 55928,
 84600,
 57978,
 23162,
 92796,
 70264,
 45701,
 17029,
 55942,
 47751,
 55945,
 45705,
 47757,
 84622,
 23181,
 27278,
 84621,
 45714,
 27282,
 14990,
 76437,
 70294,
 90774,
 53914,
 68255,
 37537,
 88738,
 41635,
 21154,
 37539,
 19106,
 62119,
 15016,
 31393,
 76457,
 96931,
 23208,
 53932,
 66222,
 29362,
 17075,
 92852,
 92854,
 84666,
 33467,
 19133,
 21184,
 12993,
 31426,
 31424,
 60101,
 92872,
 51914,
 90827,
 70348,
 94924,
 60110,
 47823,
 76494,
 31443,
 58070,
 74459,
 76509,
 58078,
 64227,
 70378,
 86763,
 92909,
 33521,
 74481,
 25332,
 29429,
 21239,
 25336,
 39675,
 64252,
 45821,
 60158,
 45822,
 90878,
 21244,
 90883,
 64260,
 94982,
 94986,
 76555,
 17169,
 82710,
 78614,
 99094,
 76569,
 15131,
 97053,
 76574,
 66334,
 82719,
 62241,
 56098,
 76579,
 25380,
 33567,
 58142,
 56107,
 74539,
 80685,
 86830,
 84783,
 70447,
 37675,
 95020,
 13106,
 33588,
 56118,
 70455,
 95034,
 11071,
 19267,
 27460,
 45896,
 31560,
 80717,
 25422,
 86861,
 90960,
 78677,
 25436,
 41823,
 52066,
 78690,
 97125,
 21350,
 86887,
 60266,
 56171,
 99180,
 99183,
 52081,
 23412,
 29563,
 19323,
 68475,
 68478,
 13183,
 58246,
 41865,
 70538,
 86924,
 37775,
 21392,
 31632,
 15250,
 50073,
 48028,
 88996,
 84902,
 23466,
 52139,
 33708,
 56237,
 64433,
 78775,
 72631,
 35769,
 15290,
 60350,
 33726,
 50114,
 46019,
 89027,
 80834,
 91077,
 46023,
 78787,
 13257,
 50122,
 78795,
 99276,
 97226,
 37843,
 39903,
 58335,
 66530,
 66534,
 89063,
 11240,
 13289,
 76777,
 58346,
 82921,
 23533,
 17391,
 44016,
 41970,
 48114,
 19444,
 68597,
 64501,
 54264,
 35832,
 39931,
 56321,
 76805,
 17414,
 13318,
 87047,
 62469,
 76809,
 31757,
 46101,
 48150,
 87065,
 76828,
 46111,
 70688,
 19487,
 95266,
 60451,
 54308,
 91167,
 44077,
 13359,
 91186,
 27699,
 95286,
 62519,
 87096,
 50233,
 99386,
 19512,
 97340,
 70717,
 19517,
 60476,
 50240,
 27713,
 62523,
 24233,
 33854,
 87107,
 11332,
 54345,
 37962,
 99405,
 56403,
 52308,
 33876,
 54359,
 66648,
 80984,
 21593,
 33883,
 42078,
 13410,
 11367,
 17512,
 74858,
 23664,
 76912,
 85109,
 52343,
 25721,
 64633,
 68734,
 42112,
 44160,
 27778,
 31875,
 97412,
 87171,
 97414,
 62599,
 74888,
 46215,
 38024,
 19593,
 74894,
 17552,
 97426,
 95379,
 17561,
 19610,
 40092,
 13469,
 36004,
 33958,
 64679,
 64682,
 19627,
 79022,
 85167,
 33966,
 83126,
 89271,
 97463,
 31928,
 15550,
 74945,
 95428,
 83140,
 48327,
 99530,
 27851,
 62668,
 40141,
 54478,
 72913,
 46289,
 34006,
 56537,
 15579,
 72924,
 60637,
 66782,
 23777,
 15586,
 50403,
 93411,
 31972,
 25830,
 83174,
 50408,
 38121,
 91369,
 31978,
 31980,
 83176,
 56565,
 29942,
 99574,
 95481,
 70906,
 83195,
 97532,
 50429,
 68862,
 15619,
 68870,
 66822,
 95497,
 48398,
 77071,
 75024,
 50451,
 23827,
 11541,
 27928,
 19736,
 48412,
 87336,
 73000,
 54569,
 21805,
 21806,
 99634,
 62770,
 54580,
 93496,
 68925,
 87359,
 89407,
 95555,
 30020,
 44361,
 17739,
 21838,
 85327,
 48465,
 48467,
 83283,
 89430,
 77147,
 21852,
 27997,
 46430,
 62815,
 36196,
 97638,
 30057,
 58731,
 40304,
 36216,
 73085,
 30081,
 36225,
 95618,
 60804,
 52612,
 15750,
 79241,
 58762,
 95625,
 75150,
 71058,
 83347,
 40341,
 73110,
 60824,
 54683,
 23965,
 36257,
 28070,
 56745,
 23979,
 44459,
 93614,
 79279,
 17841,
 91569,
 77235,
 91573,
 87477,
 46519,
 56759,
 13753,
 69052,
 23999,
 11712,
 36287,
 81346,
 28096,
 83398,
 71112,
 62925,
 26063,
 17872,
 97744,
 87503,
 26068,
 19924,
 30168,
 77274,
 46555,
 54748,
 87515,
 64993,
 15842,
 73187,
 32228,
 85477,
 91623,
 71144,
 52713,
 75241,
 46578,
 48631,
 87543,
 87551,
 77312,
 26112,
 44550,
 81416,
 32268,
 15884,
 15886,
 34321,
 95768,
 34328,
 15904,
 28194,
 81443,
 99877,
 71205,
 65063,
 34344,
 17959,
 85542,
 75308,
 50741,
 67128,
 91705,
 63033,
 44601,
 50748,
 48701,
 77374,
 22072,
 36416,
 48705,
 13890,
 38465,
 32324,
 69189,
 34378,
 36429,
 50765,
 32335,
 83540,
 63061,
 58965,
 73302,
 46681,
 71258,
 20063,
 48736,
 34399,
 22114,
 32355,
 46692,
 93794,
 32352,
 48744,
 20073,
 28266,
 54890,
 61032,
 54893,
 69230,
 42608,
 93810,
 24181,
 34422,
 48762,
 42622,
 24195,
 16013,
 42642,
 54931,
 65172,
 30357,
 79512,
 30361,
 97947,
 54941,
 50850,
 89762,
 50857,
 95913,
 36522,
 42668,
 24237,
 75436,
 89775,
 93869,
 48810,
 26290,
 11950,
 73388,
 16053,
 63154,
 97219,
 69305,
 48828,
 22205,
 67260,
 85695,
 16064,
 93891,
 83652,
 67269,
 87748,
 63174,
 38601,
 87756,
 42703,
 71376,
 93905,
 26322,
 20178,
 87765,
 24280,
 81630,
 85731,
 44772,
 77548,
 87797,
 34550,
 38645,
 18170,
 69372,
 77568,
 46852,
 57094,
 38663,
 44807,
 65289,
 81673,
 67336,
 42764,
 83723,
 34569,
 75530,
 24336,
 14103,
 26392,
 61209,
 57113,
 46884,
 53028,
 61220,
 73513,
 69423,
 65328,
 20277,
 24373,
 94015,
 22335,
 10053,
 57158,
 26438,
 14156,
 61263,
 22353,
 63320,
 10073,
 44893,
 51041,
 73570,
 77667,
 40808,
 57195,
 46959,
 89968,
 28529,
 96117,
 32631,
 69496,
 36730,
 14203,
 83836,
 26492,
 71551,
 16255,
 89991,
 44935,
 24458,
 28557,
 87950,
 18321,
 55186,
 90001,
 14228,
 12184,
 38809,
 28572,
 57247,
 61345,
 34725,
 38822,
 90023,
 28582,
 73642,
 65452,
 47021,
 38829,
 81841,
 57274,
 44988,
 30653,
 57281,
 38850,
 92100,
 92102,
 49095,
 16332,
 42957,
 90063,
 85967,
 53202,
 79827,
 57300,
 42966,
 32727,
 30680,
 96221,
 90077,
 30686,
 96224,
 57314,
 36836,
 69612,
 12269,
 98286,
 55278,
 14319,
 81905,
 79857,
 69616,
 20468,
 51191,
 53242}

In [53]:
count_col2 = {}
for item in df2['col2']:
    count_col2[item] = count_col2.get(item, 0) + 1
count_col2

{66648: 16,
 66530: 12,
 60777: 1,
 13469: 11,
 83262: 1,
 40350: 1,
 61801: 1,
 80612: 1,
 47207: 1,
 73737: 3,
 35371: 1,
 20896: 17,
 77147: 11,
 32690: 1,
 45373: 20,
 96652: 13,
 53803: 1,
 62925: 20,
 64433: 19,
 96929: 1,
 87748: 17,
 75803: 17,
 82976: 1,
 50513: 1,
 25876: 1,
 27282: 18,
 52482: 1,
 98326: 2,
 60692: 1,
 78044: 12,
 28829: 1,
 24022: 1,
 76616: 1,
 78368: 1,
 59182: 1,
 10920: 1,
 94982: 8,
 70248: 9,
 67267: 1,
 40092: 20,
 26048: 1,
 97947: 15,
 31426: 15,
 75016: 1,
 72913: 11,
 74888: 10,
 26337: 1,
 21184: 16,
 65978: 1,
 62436: 1,
 89076: 1,
 27190: 1,
 84666: 1,
 60277: 1,
 65172: 18,
 50401: 1,
 13015: 1,
 21521: 1,
 32013: 1,
 67456: 1,
 60117: 1,
 77235: 18,
 55336: 1,
 59405: 1,
 76671: 1,
 78380: 1,
 64287: 1,
 61870: 10,
 19133: 7,
 79653: 1,
 54621: 1,
 40810: 1,
 41746: 1,
 21471: 1,
 21359: 1,
 18921: 1,
 80604: 1,
 48458: 1,
 67895: 19,
 32324: 14,
 27128: 1,
 89974: 1,
 30915: 1,
 74017: 1,
 85558: 1,
 68395: 1,
 67206: 1,
 96114: 1,
 66153: 1,
 88997: 1,
 80360: 1,
 74811: 1,
 56793: 1,
 65463: 1,
 67896: 8,
 19873: 1,
 79234: 1,
 86165: 1,
 92574: 1,
 59368: 1,
 57327: 1,
 75157: 1,
 71556: 1,
 26584: 1,
 56723: 1,
 26076: 1,
 26741: 2,
 64859: 1,
 63594: 1,
 21593: 8,
 70839: 1,
 12466: 1,
 79654: 1,
 52837: 1,
 96669: 5,
 74035: 1,
 54565: 1,
 28626: 1,
 84687: 1,
 10197: 1,
 64325: 1,
 38950: 1,
 33966: 13,
 78698: 1,
 32559: 1,
 35307: 1,
 72482: 1,
 67885: 1,
 58250: 1,
 74609: 1,
 82910: 1,
 97333: 1,
 54856: 1,
 30889: 1,
 22607: 1,
 49674: 1,
 31586: 1,
 79094: 1,
 92512: 1,
 21340: 1,
 80901: 1,
 48576: 1,
 53107: 1,
 19299: 1,
 47673: 1,
 32758: 1,
 39743: 1,
 78795: 10,
 66123: 1,
 55706: 1,
 35262: 1,
 86365: 1,
 53276: 1,
 35972: 1,
 44851: 1,
 28903: 1,
 10480: 1,
 72456: 1,
 92102: 9,
 50795: 1,
 48473: 1,
 15651: 1,
 27607: 1,
 16468: 1,
 91595: 1,
 22332: 1,
 41719: 1,
 54298: 1,
 78775: 3,
 86650: 1,
 35732: 1,
 80035: 1,
 55618: 1,
 52117: 1,
 11409: 1,
 62825: 1,
 19721: 1,
 58765: 1,
 94658: 1,
 71542: 1,
 33519: 1,
 37230: 1,
 80089: 1,
 17866: 1,
 34977: 9,
 50674: 1,
 79402: 1,
 92493: 1,
 73939: 1,
 90781: 1,
 98917: 1,
 64096: 1,
 80359: 1,
 94224: 1,
 50102: 1,
 66367: 1,
 88668: 1,
 35769: 4,
 24467: 1,
 16174: 1,
 66946: 1,
 47913: 1,
 92695: 1,
 89624: 1,
 38090: 1,
 48146: 1,
 94193: 1,
 33442: 1,
 82174: 1,
 61173: 1,
 83595: 1,
 48212: 1,
 75346: 1,
 31030: 1,
 35830: 1,
 92371: 1,
 63054: 1,
 90762: 1,
 47184: 1,
 52006: 1,
 23024: 1,
 29297: 1,
 45384: 1,
 63310: 1,
 69125: 1,
 50707: 1,
 25683: 1,
 30469: 1,
 98790: 1,
 92147: 1,
 87781: 1,
 80845: 1,
 66702: 1,
 66122: 1,
 91784: 1,
 61262: 1,
 86304: 1,
 61016: 1,
 40475: 1,
 43813: 1,
 80861: 1,
 63219: 1,
 68212: 1,
 31979: 1,
 23639: 1,
 43169: 1,
 43769: 1,
 65349: 1,
 44490: 1,
 85732: 1,
 92382: 6,
 92674: 1,
 12772: 1,
 40411: 1,
 49971: 1,
 51998: 1,
 83737: 1,
 80553: 1,
 41007: 1,
 39533: 1,
 45751: 1,
 36056: 1,
 59240: 1,
 22936: 1,
 66588: 1,
 33993: 1,
 22763: 1,
 83295: 1,
 92126: 1,
 61126: 1,
 58388: 1,
 48318: 1,
 32286: 1,
 37643: 1,
 46410: 1,
 85519: 1,
 85172: 1,
 54353: 1,
 79304: 1,
 37931: 1,
 77312: 13,
 20353: 1,
 46463: 1,
 61047: 1,
 51250: 1,
 81741: 1,
 14161: 1,
 37191: 1,
 73055: 1,
 19870: 1,
 33774: 1,
 40724: 1,
 19952: 1,
 64009: 1,
 82436: 1,
 40855: 1,
 18007: 1,
 25209: 1,
 15901: 1,
 70997: 1,
 89300: 1,
 30003: 1,
 73588: 1,
 48925: 1,
 24257: 1,
 17658: 1,
 23450: 1,
 89145: 1,
 98661: 1,
 49884: 1,
 96392: 1,
 77267: 1,
 78902: 1,
 53093: 1,
 17683: 1,
 61667: 1,
 27315: 1,
 90108: 1,
 67308: 1,
 85349: 1,
 22652: 1,
 34621: 1,
 76862: 1,
 11561: 1,
 40421: 1,
 65926: 1,
 48082: 1,
 70125: 1,
 99853: 1,
 79715: 1,
 80678: 1,
 50399: 1,
 90400: 1,
 91710: 1,
 85238: 1,
 83052: 1,
 88895: 1,
 97913: 1,
 31088: 1,
 16973: 1,
 32206: 1,
 62321: 1,
 43185: 1,
 65244: 1,
 64378: 1,
 33745: 1,
 90870: 1,
 20178: 2,
 78390: 1,
 31577: 1,
 31486: 1,
 74948: 1,
 60762: 1,
 79055: 1,
 33515: 1,
 74892: 1,
 12234: 1,
 28665: 1,
 85516: 1,
 56269: 1,
 88192: 1,
 38887: 1,
 97275: 1,
 63820: 1,
 21712: 1,
 73269: 1,
 30421: 1,
 56860: 1,
 37568: 1,
 68542: 1,
 61542: 1,
 37467: 1,
 35259: 1,
 18155: 1,
 40678: 1,
 66183: 1,
 76099: 1,
 48103: 1,
 24724: 1,
 34680: 1,
 77462: 1,
 51441: 1,
 94179: 1,
 27577: 1,
 82791: 1,
 61226: 1,
 26586: 1,
 31294: 1,
 57462: 1,
 91717: 1,
 57264: 1,
 56799: 1,
 95689: 1,
 12597: 1,
 68388: 1,
 34603: 1,
 81818: 1,
 84669: 1,
 31733: 1,
 10099: 1,
 21683: 1,
 29942: 1,
 54507: 1,
 85158: 1,
 18069: 1,
 55085: 1,
 39416: 1,
 27127: 1,
 71818: 1,
 60253: 1,
 58231: 1,
 73882: 1,
 56847: 1,
 37833: 1,
 29377: 1,
 29637: 1,
 20268: 1,
 42766: 1,
 70932: 1,
 71309: 1,
 30154: 1,
 14538: 1,
 60684: 1,
 57234: 1,
 48563: 1,
 67465: 1,
 75437: 1,
 32431: 1,
 10076: 1,
 59675: 1,
 89046: 1,
 99015: 1,
 95443: 1,
 79947: 1,
 80873: 1,
 81188: 1,
 38294: 1,
 23536: 1,
 23799: 1,
 42350: 1,
 37676: 1,
 87515: 1,
 22627: 1,
 13273: 1,
 28813: 1,
 20591: 1,
 67618: 1,
 12025: 1,
 88018: 1,
 52030: 1,
 79545: 1,
 60159: 1,
 94495: 1,
 87187: 1,
 61551: 1,
 77232: 1,
 20365: 1,
 19117: 1,
 63700: 1,
 64104: 1,
 50591: 1,
 17191: 1,
 94724: 1,
 99767: 1,
 34741: 1,
 37806: 1,
 66471: 1,
 62666: 1,
 73671: 1,
 40218: 1,
 43649: 1,
 94062: 1,
 40771: 1,
 50621: 1,
 54721: 1,
 40066: 1,
 88605: 1,
 74437: 1,
 80995: 1,
 68312: 1,
 79306: 1,
 33435: 1,
 59150: 1,
 94764: 1,
 23706: 1,
 97699: 1,
 42379: 1,
 16374: 1,
 97811: 1,
 22248: 1,
 98519: 1,
 79119: 1,
 23891: 1,
 96566: 1,
 74553: 1,
 69441: 1,
 43363: 1,
 63786: 1,
 39137: 1,
 40646: 1,
 25399: 1,
 54216: 1,
 98280: 1,
 50505: 1,
 28034: 1,
 86681: 1,
 73729: 1,
 19681: 1,
 98318: 1,
 20368: 1,
 98097: 1,
 98255: 1,
 43385: 1,
 82529: 1,
 62461: 1,
 17460: 1,
 31992: 1,
 91047: 1,
 85485: 1,
 78417: 1,
 44190: 1,
 10004: 1,
 67868: 1,
 24596: 1,
 28176: 1,
 21931: 1,
 36318: 1,
 35444: 1,
 53938: 1,
 20384: 1,
 81769: 1,
 47885: 1,
 77014: 1,
 99652: 1,
 57632: 1,
 93313: 1,
 93951: 1,
 62314: 1,
 30608: 1,
 88722: 1,
 65974: 1,
 55818: 1,
 32961: 1,
 20482: 1,
 68138: 1,
 16035: 1,
 16043: 1,
 53823: 1,
 86356: 1,
 13023: 1,
 10503: 1,
 40965: 1}

In [ ]:
similar_count_of_col1 = {item: count_col2.get(item, 0) for item in unique_values_col1}
filtered_similar_count_of_col1 = {k: v for k, v in similar_count_of_col1.items() if v>0}

{73737: 3,
 98326: 2,
 75803: 17,
 26741: 2,
 34977: 9,
 78044: 12,
 92382: 6,
 67895: 19,
 67896: 8,
 45373: 20,
 96652: 13,
 96669: 5,
 20896: 17,
 61870: 10,
 70248: 9,
 27282: 18,
 84666: 1,
 19133: 7,
 21184: 16,
 31426: 15,
 94982: 8,
 64433: 19,
 78775: 3,
 35769: 4,
 78795: 10,
 66530: 12,
 66648: 16,
 21593: 8,
 74888: 10,
 40092: 20,
 13469: 11,
 33966: 13,
 72913: 11,
 29942: 1,
 77147: 11,
 77235: 18,
 62925: 20,
 87515: 1,
 77312: 13,
 32324: 14,
 65172: 18,
 97947: 15,
 87748: 17,
 20178: 2,
 92102: 9}

In [61]:
total = sum(key * value for key, value in filtered_similar_count_of_col1.items())
total

29379307